body.parties_index    
  #main
    min-height: 100%
  #body
    nav.parties
      padding: 10px 16px
      ul
        li
          display: inline
          a
            float: left
            +blue_button
            line-height: 28px
            padding: 0 10px
            +border-radius(4px)
    div.parties
      padding: 16px  16px
      +clearfix
      div.party
        width: 700px
        padding: 8px 10px
        background: rgba(0, 0, 0, .2)
        float: left
        position: relative
        margin: 0 0 10px 0
        h2
          margin: 0 0 8px 0
          a
            color: #cad5d7
            text-decoration: none
            font-size: 18px
        .actions
          position: absolute
          right: 12px
          bottom: 12px
          ul
            li
              display: inline
              a
                float: left
                margin: 0 0 0 6px
                padding: 0 10px
                line-height: 28px
                +border-radius(4px)
                +blue_button       
        .members
          li
            display: inline
            a
              display: block
              float: left
              margin: 0 8px 0 0
              background: rgba(0, 0, 0, .2)
              +border-radius(22px)
              padding: 3px
              width: 38px
              height: 38px
              +box-shadow(#495051 0 1px 0)
              img
                width: 38px
                height: auto
                +border-radius(20px)          

body.parties_new
  #body
    form
      .field
        clear: both
        +clearfix
        padding: 0 0 20px 0
        label
          float: left
          width: 120px
        input
          width: 400px
        textarea
          width: 400px
      .members
        label
          width: 100%
          float: none
          padding: 0 0 10px 0
          display: block
        .token-input-list-facebook
          width: 520px



body.parties_show
  #body
    .members
      table
        tr
          td
            vertical-align: top
      .member
        height: 100%
        float: left
        width: 284px
        border-right: $basic_border_color solid 4px
        margin: -1px 0 0 0
        +clearfix
        .header
          $member_header_height: 80px
          background: $member_header_bg_color
          padding: 0 10px
          position: relative
          height: $member_header_height
          +clearfix
          .information
            float: left
            ul
              li
                display: block
              li.name
                padding: 8px 0 4px 0
                white-space: nowrap
                overflow: hidden
                a
                  font-size: 20px
                  text-decoration: none
                  line-height: 1.4
                  +basic_link
              li.state
                text-align: center
                width: 120px
                line-height: 26px
                font-size: 14px
                +border-radius(4px)
                +blue_button
                span
                  form
                    font-size: 13px
          .icon
            float: left
            padding: 8px 14px 0 0
            a
              width: 52px
              height: 52px
              padding: 6px
              background: rgba(0, 0, 0, .2)
              +border-radius(32px)
              display: block
              +box-shadow(#495051 0 1px 0)
              img
                width: 52px
                height: auto
                +border-radius(25px)
      .body
        clear: both
        overflow-y: auto 
        height: 100%
        li.task
          p
            span.comments
              display: block
              float: right
              padding: 0 10px
              line-height: 24px
              font-size: 16px
              +blue_button
              +border-radius(4px)
          div.comments
            display: block
            +comments
            clear: both
            .add
              padding: 10px 10px 0 10px
            ul
              li
                +clearfix
                border-bottom: dotted #666 1px
                display: block
                padding: 14px 10px
                &:first-child
                  padding: 14px 10px
                &:last-child
                  border: none
                .icon
                  float: left
                  padding: 0 8px 0 0
                  a
                    width: 36px
                    height: 36px
                    padding: 3px
                    background: rgba(0, 0, 0, .2)
                    +border-radius(21px)
                    display: block
                    +box-shadow(#495051 0 1px 0)
                    img
                      width: 36px
                      height: auto
                      +border-radius(18px)
                p
                  font-size: 13px
                  line-height: 1.6
            
          .actions
            padding: 12px 0 0 0
            display: block
            +clearfix
            p.help
              a
                float: left
                text-decoration: none
                display: block
                line-height: 28px
                padding: 0 10px
                color: #fff
                +border-radius(4px)
                font-weight: bold
            ul
              display: block
              padding: 0 0 3px 0
              +clearfix
              li
                display: inline
                a
                  +blue_button
                  display: block
                  float: left
                  line-height: 26px
                  padding: 0 14px
                  +box-shadow(rgba(255, 255, 255, .6) 0 0 1px inset, rgba(0, 0, 0, .2) 0 1px 1px)
              .hold
                a
                  +border-radius(4px 0 0 4px)
                  border-right: $label_font_color 1px solid
              .finish
                a
                  +border-radius(0 4px 4px 0)
                  border-left: $label_text_shadow 1px solid
              .redo
                a
                  float: left
                  +border-radius(4px)
                  +blue_button
              .start
                a
                  +border-radius(4px)
                  +blue_button
                  float: right
              .delete
                a
                  +border-radius(4px)
                  +blue_button
                  float: left
        .current
          +clearfix
          .label
            +label
          .doing
            clear: both
            padding: 10px
            background: $light_bg_color
            +clearfix
            ul
              li.task
                p
                  font-size: 13px
                  line-height: 1.6
                  color: $light_font_color
                  +word-break
                .actions
                  float: none
                  width: 144px
                  margin: 0 auto
                  a
                    width: 43px
                    float: left
                    text-align: center
            ul
              li.empty
                line-height: 1.6
                font-size: 13px
                text-align: center
                display: block
                background: rgba(100, 100, 100, .3)
                padding: 8px
                +border-radius(4px)
                font-size: 12px              
        .backlog
          clear: both
          +clearfix
          .label
            +label
          .add
            padding: 10px 10px 10px 10px
            background: #141f35
            +clearfix
            a
              display: block
              background: #abd3e8
              float: left
              font-size: 12px
              line-height: 20px
              padding: 0 10px
              text-decoration: none
              +border-radius(4px)
              color: #162d41
              font-weight: bold
            form.new_task
              clear: both
              textarea
                width: 100% !important
                padding: 0
                +border-radius(4px)
                background: $light_bg_color
                font-size: 13px
                margin: 0 0 10px 0
              input
                +label
                text:
                  align: center
                width: 80px
                line-height: 28px
                margin: 0 auto
                padding: 0
                border: none
                +border-radius(4px)
          ul
            clear: both
            li.task
              +clearfix
              border-bottom: dotted #666 1px
              display: block
              padding: 14px 10px
              +word-break
              &:last-child
                border: none
              .icon
                float: left
                padding: 0 8px 0 0
                a
                  width: 36px
                  height: 36px
                  padding: 3px
                  background: rgba(0, 0, 0, .2)
                  +border-radius(21px)
                  display: block
                  +box-shadow(#495051 0 1px 0)
                  img
                    width: 36px
                    height: auto
                    +border-radius(18px)
              p
                font-size: 13px
                line-height: 1.6
        .done
          margin: 0 0 60px 0
          clear: both
          +clearfix
          .label
            +label
          .add
            padding: 10px 0
          ul
            li.task
              +clearfix
              border-bottom: dotted #666 1px
              display: block
              padding: 14px 10px
              &:first-child
                padding: 14px 10px
              &:last-child
                border: none
              .time
                float: left
                white-space: nowrap
                height: 50px
                width: 50px
                text-align: center
                line-height: 50px
                background: rgba(0, 0, 0, .2)
                display: block
                margin: 0 12px 4px 0
                +box-shadow(#495051 0 1px 0)
                +border-radius(25px)
              p
                font-size: 13px
                line-height: 1.6
                +word-break
              .times
                background: rgba(100, 100, 100, .4)
                float: right
                margin: 12px 0 0 0
                padding: 6px
                font-size: 12px
                +inline-block
                line-height: 24px
                padding: 0 58px 0 8px
                position: relative                  
                .working
                .finish
                  background: rgba(0, 0, 0, .4)
                  font-size: 10px
                  height: 18px
                  padding: 0 6px
                  line-height: 18px
                  display: block
                  position: absolute
                  right: 6px
                  top: 3px