@import compass/reset
@import compass/utilities
@import compass/css3


body
  background: image_url("body.gif")
  color: #cad5d7
#wrapper
  overflow-y: hidden
  min-width: 1000px
#header
  +clearfix
  border-bottom: #495051 solid 1px
  .header
    border-bottom: #272d2e 4px solid
    position: relative
    +clearfix
    h1
      padding: 0 0 0 16px
      a
        line-height: 52px
        float: left
        color: #cad5d7
        font-size: 30px
        text-decoration: none
        font-weight: bold
    nav.members
      padding: 4px 0 0 16px
      float: left
      ul
        li
          display: inline
          a
            display: block
            float: left
            margin: 0 8px 0 0
            background: rgba(0, 0, 0, .2)
            +border-radius(22px)
            padding: 3px
            width: 38px
            height: 38px
            +box-shadow(#495051 0 1px 0)
            img
              width: 38px
              height: auto
              +border-radius(20px)
    .times
      line-height: 52px
      padding: 0 20px 0 0
      position: absolute
      right: 0
      .now
        float: left
        margin: 0 10px 0 0
      .remain
        float: left
        background: #2a3031
        line-height: 42px
        margin: 5px 0 0 0
        font-size: 32px
        padding: 0 20px
        +border-radius(4px)
    
div#main
  margin: 0 0 0 50px
  position: absolute
  +clearfix
nav#global
  background: #000
  position: absolute
  left: 0
  top: 0
  width: 50px
#notice
  position: absolute
  padding: 20px
  background: rgba(0, 0, 0, .3)